@charset "UTF-8";

/*default-style*/
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}


/*header&footer*/
.header-inner {
    max-width: 1200px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-menu-button {
    display: none;
}

.header-logo {
    display: block;
    width: 170px;
}

.site-menu ul {
    display: flex;
}

.site-menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.site-menu ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer {
    color: #ffffff;
    background-color: #9ce1e3;
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    display: block;
    width: 235px;
    margin-top: 50px;
}

.footer-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/front-background-iamge.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    display: flex;
    align-items: center;
}

/*index.css*/
.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #ffffff;
    text-shadow: 1px 1px 10px #050773;
}

.first-view-text h1 {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 60px;
    line-height: 72px;
}

.first-view-text p {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 35px;
    margin-top: 40px;
}

.first-view-text p span {
    font-weight: bold;
}

.about-content {
    background-color: #07246d;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.front-wordpress {
    background-color: rgb(204, 204, 204);
    padding: 20px;
    background-image: url(../images/28redsugar720.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.front-wordpress-content {
    width: 1500px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 26px;
    background-color: rgb(54, 151, 184, 0.5);

}

.wordpress-logo {
    width: 400px;
}

.worpdress {
    color: #ffffff;
    font-family: 'Kosugi Maru', sans-serif;
}

.worpdress h2 {
    font-size: 45px;
    padding: 2px;
    border-bottom: 1px solid #f8f8f8;
}

.wordpress-excerpt {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    line-height: 1.5;
}

.wordpress-excerpt span {
    font-weight: bold;
}

.new-article {
    margin-top: 40px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #f8f8f8;
}

.new-article-title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.new-article-excerpt {
    margin-top: 18px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px solid #f8f8f8;
    line-height: 1.5;
}

.wordpress-botton {
    margin-top: 40px;
    text-align: center;
}

.wordpress-botton-hover {
    background-color: rgb(194, 188, 17, 0.5);
    display: inline-block;
    min-width: 180px;
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    padding: 30px;
    border-radius: 24px;
}

/*archive.css*/
.title {
    height: 300px;
    background-image: url(../images/front-background-iamge.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #050773;
}

.title h1 {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p {
    margin-top: 20px;
}

.lead {
    max-width: 1200px;
    margin: 100px auto 0;
}

.lead p {
    line-height: 2;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Kosugi Maru', sans-serif;
}

.about-link-botton-area {
    text-align: center;
    margin-top: 40px;
}

.about-link-botton {
    background-color: #9ce1e3;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-size: 14px;
    font-family: 'Kosugi Maru', sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.item-list-title {
    margin-top: 100px;
    background-color: #9ce1e3;
    padding: 70px 0;
}

.item-list-title h2{
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
}

.item-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.item {
    padding: 30px;
    margin-left: 50px;
    width: 350px;
    background-color: #e1e1e1;
    border-radius: 10px;
    font-family: 'Kosugi Maru', sans-serif;
    text-align: center;
}

.item:first-child {
    margin-left: 0;
}

.item-image {
    border-radius: 24px;
}

.item h2 {
    margin-top: 20px;
    letter-spacing: 3px;
}

.item p {
    margin-top: 20px;
    line-height: 1.4;
}

.item-link-botton-area {
    text-align: center;
    margin-top: 30px;
}

.item-link-botton {
    background-color: #9ce1e3;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-size: 14px;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
}

.about-me {
    width: 1200px;
    max-width: 90%;
    background-color: #e1e1e1;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kosugi Maru', sans-serif;
    border-radius: 24px;
}

.about-me h2 {
    letter-spacing: 3px;
}
.about-me p {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.about-me-flex {
    display: flex;
    margin-top: 20px;
}

.about-me-image {
    display: block;
    width: 300px;
    max-width: 90%;
    border-radius: 24px;
}

.about-me-image-ruins {
    border-radius: 24px;
}

.about-me-text {
    margin-left: 30px;
    font-size: 18px;
    line-height: 1.4;
}

.about-me-botton-flex {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.about-me-botton-area {
    text-align: center;
    margin-left: 20px;
}

.about-me-botton {
    background-color: #9ce1e3;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-size: 14px;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
}

/*== ボタン共通設定 */
.btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
	display: inline-block;
   	outline: none;
    border: 3px solid #9be0fa;
    /*アニメーションの指定*/   
    transition: ease .2s;
}

/*ボタン内spanの形状*/
.btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color:#fff;
}

.btn:hover span{
	color:#000;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
 	content: '';
    /*絶対配置で位置を指定*/
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: 2;
    /*色や形状*/
 	background:#fff;/*背景色*/
 	width: 100%;
	height: 100%;
    /*アニメーション*/
 	transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
 	transform: scale(0, 1);
	transform-origin: right top;
}

/*hoverした際の形状*/
.bgleft:hover:before{
	transform-origin:left top;
	transform:scale(1, 1);
}

/*arhive.css*/
.breadcrumb {
    background-color: #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/*archive.css*/

.archive {
    display: flex;
    background-color: rgb(236, 251, 246);
    padding-bottom: 100px;
    color: rgb(255, 255, 255);
}

.archive-article {
    width: 1200px;
    max-width: 90%;
    background-color: #9ce1e3;
    margin-top: 20px;
    margin-left: auto;
    padding: 20px;
    border-radius: 24px;
}

.archive-article-block {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.archive-sidebar {
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    padding: 20px;
    border-radius: 24px;
    background-color: #9ce1e3;
}